@model RecipesLab2.Models.Recipe
@{
	ViewData["Title"] = "Display";
	Layout = "_Layout";
}

<h1>Display Page</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<h2>@Model.Name - Recipe</h2>
			<h3>Ingredients:</h3>
			<p>@Model.Ingredients</p>
			<hr />
			<h3>Steps:</h3>
			<p>@Model.Steps</p>
			<hr />
			<h3>Serves:</h3>
			<p>@Model.qtdOfServes</p>
			<h3>Time to Prepare:</h3>
			<p>@Model.timeToPrepare minutes</p>
		</div>
	</div>
</div>
